.card-title {
     margin: 0;
     margin-top: 1rem;
     font-weight: 500;
     font-size: 20px;
}
.card-container {
     background: white;
     border: 1px solid #e0e0e0;
     border-radius: 16px;
     padding: 16px;
     flex: 1;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
}

.card-img {
     display: inline;
     height: 20px;
     width: 20px;
     transform: translateY(3px);
     border-radius: 4px;
     margin: 0;
}

.card-btn {
     background: var(--accent-color);
     color: white;
     padding: 6px 12px;
     border-radius: 6px;
     margin-left: auto;
     position: relative;
     overflow: hidden;
     user-select: none;
}

.card-btn::after {
     content: "";
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
     position: absolute;
     transition: background .2s ease-out;
}

.card-btn:hover::after {
     background: rgba(0, 0, 0, .1);
}

.card-btn-list {
     width: 100%;
     display: flex;
     justify-content: right;
     gap: 5px;
}

.card-container * {
     margin: 0;
}

.card-timestamp {
     color: #666;
}

.card-grid {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 10px;
}