@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
     text-decoration: none;
     color: inherit;
}

body {
     margin: 0;
     width: 100%;
     min-height: 100%;
     background: #F8F9FA;
     font-family: "Poppins";
     display: flex;
     flex-direction: column;
     align-items: center;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
}

.main-container > .article {
     margin-top: 0px;
}

.hero-container {
     width: 100%;
     background: var(--accent-color);
     height: fit-content;
}

.hero-text {
     margin-top: 2rem;
}

.hero-text>p {
     margin: 0;
     color: white;
}


.hero {
     max-width: 1200px;
     width: 100%;
     height: 22rem;
     margin: 0 auto;
     display: flex;
     padding-top: 3rem;
     position: relative;
}

.hero>p {
     margin: 0;
}


.introbg {
     width: 25rem;
     margin-left: -2rem;
     display: flex;
     justify-content: top;
     align-items: center;
     flex-direction: column;
     overflow: visible;
     color: #fff;
     overflow: visible;
     position: relative;
     height: max-content;
     height: 22rem;
}

.intro-box-container {
     height: 100%;
     width: 100%;
     position: absolute;
     overflow-y: clip;
     overflow-x: visible;
}

.intro-box {
     position: absolute;
     height: 25rem;
     width: 25rem;
     background: #fff;
     bottom: -12.5rem;
     left: 0;
     transform: rotate(45deg);
     border-radius: 4rem;
     opacity: .2;
}

.intro-img {
     position: absolute;
     height: 22rem;
     bottom: 0px;
     transform-origin: center bottom;
}

.social-media-bar {
     margin: 12px 0px;
     display: flex;
     gap: 10px;
     width: fit-content;
}

.social-media-bar .card-img {
     height: 20px;
     width: 20px;
     display: block;
     transform: none;
}

.nav-name {
     font-weight: 600;
     font-size: 3em;
     margin-top: 2rem;
}

.title {
     color: var(--accent-color);
     margin: 0;
}

.tag {
     color: white;
     border-radius: 6px;
     position: relative;
     text-align: center;
     display: inline;
     padding: 1px;
     width: fit-content;
     padding-right: 6px;
     padding-left: 6px;
     box-sizing: border-box;
}

.tag::before {
     content: "­";
     background: rgba(255, 255, 255, .8);
     width: 100%;
     height: 100%;
     position: absolute;
     opacity: .2;
     border-radius: 6px;
     transform: translateX(-6px);
     margin: 0;
}

.tag[color]::before {
     display: none !important;
}

.outlined {
     border: 1px solid #21212151;
}

.outlined:hover {
     border: 1px solid #212121f7;
}

.github {
     color: #212121;
}

.github::before {
     background: #ebebeb;
}

.main-container {
     max-width: 1200px;
     width: 100%;
     margin-top: 2rem;
     display: flex;
}

.tags-inline>p {
     display: inline-block;
     margin: 0;
     margin-top: 4px;
}

.hidden-desktop {
     display: none;
}

.tags-inline {
     display: inline;
}

.tags-container {
     margin-left: 1rem;
     width: 25%;
}

.langs {
     color: rgba(255, 255, 255, 0.3);
     position: absolute;
     right: 0;
     top: 1rem;
     user-select: none;
}

.langs > a {
     cursor: pointer;
     opacity: .4;
     color: white;
}

.langs > a:hover {
     opacity: .7;
}


.article {
     max-width: 1200px;
     width: 100%;
     margin-top: 3rem;
}

.article>* {
     margin: 0;
}


.footer {
     width: 100%;
     background: var(--accent-color);
     height: 5rem;
     margin-top: 5rem;
}

.footer {
     color: rgba(255, 255, 255, 0.329);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.footer>p {
     margin: 0;
     font-size: .9em;
}

@media only screen and (max-width: 1260px) {
     .article {
          width: 90vw;
     }

     .main-container>.article {
          width: 100;
     }

     .main-container {
          width: 90vw;
     }
}

@media only screen and (max-width: 950px) {
     .hero {
          flex-direction: column-reverse;
          align-items: center;
          text-align: center;
          height: auto;
          padding-top: 0rem;
          gap: 1rem;
          overflow-x: clip;
     }

     .langs {
          bottom: .5rem;
          top: unset;
          left: 0;
          z-index: 99;
          width: 100vw;
          text-align: center;
     }

     .hidden-mobile {
          display: none !important;
     }

     .hidden-desktop {
          display: flex;
     }

     .hero-text>p {
          padding: 0 10px;
          box-sizing: border-box;
          max-width: unset !important;
     }

     .introbg {
          margin: 0 !important;
     }

     .social-media-bar {
          margin: 0 auto;
     }

     .main-container {
          flex-direction: column;
          margin-top: 1rem;
     }

     .main-container>* {
          width: 100%;
          margin: 0;
     }

     .main-container>.tags-container {
          margin-top: 2rem;
     }
}

.link-icon {
     display: inline-block;
     height: 14px;
     transform: translateY(2px);
     fill: var(--accent-color);
}